/*
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&wifi {
	status = "okay";
};

&uart2 {
	status = "okay";
	w1: w1 {
		compatible = "zephyr,w1-serial";
		temp1: ds18b20_1 {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <12>;
			status = "okay";
		};
	};
};

&i2c0 { /* SDA PTE25, SCL PTE24, ISW PTE26 */
	ds3231: ds3231@68 {
        compatible = "maxim,ds3231-mfd";
        reg = <0x68>;
        status = "okay";

        ds3231_sensor: ds3231_sensor {
                compatible = "maxim,ds3231-sensor";
                status = "okay";
        };

        ds3231_rtc: ds3231_rtc {
                compatible = "maxim,ds3231-rtc";
                status = "okay";
				isw-gpios = <&gpio0 33 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
};
};

/ {
	aliases {
		led0 = &led0;
		marker = &pio13;
		uartw1 = &uart2;
		temp2 = &temp2;
		temp1 = &temp1;
		i2ccontroller = &i2c0;
		w1s = &w1;
		heater = &pio32;
		rtc = &ds3231_rtc;
		rtctmp = &ds3231_sensor;
	};

	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "LED 0";
		};
		pio13: pio_13 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "GPIO 13";
		};
		pio32: pio_32 {
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			label = "GPIO 32";
		};
	};

	w1_pin: w1_1 {
               compatible = "zephyr,w1-gpio";
               gpios = <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
			   temp2: ds18b20_2 {
					compatible = "maxim,ds18b20";
					family-code = <0x28>;
					resolution = <12>;
					status = "okay";
				};
       };
};

