config WIFI_CONNECT
	bool "Wifi connect custom library"
	select NETWORKING
	select WIFI
	select GPIO
	select NET_SHELL
	select NET_L2_WIFI_SHELL
	select CPP
	select NET_DHCPV4
	select NET_IPV4
	select NET_TCP
	help
	  This option enables the Wifi connect custom library
